@mixin clearfix{
	content:'';
	display:block;
	height:0;
	clear:both;
}


@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}


@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

