$asphalt: #3c434a;
$dark-asphalt:#2c2f31;
$dark-sky-blue:#37b7ec;
$white: #fff;
$grey: #8c9399;
$orange-red:#ed1e23;
$grey-teal:#92b6c4;
$blue:#3b99fc;
//ок, цветов слишком много, буду копипастить хекс
$footer-height: 80px;